:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-hover: white;
  --clr-main: #f1f5f9;
  --clr-active: #d23669;
  --clr-footer: #fff;
  --login-clr: rgb(205,133,63);
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
  --clr-hover: white;
  --clr-main: #808589;
  --clr-active: #333;
  --clr-footer: #282c35;
  --login-clr: #73777f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
.adminContent {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.adminSidebar {
  background: var(--clr-bcg);
  padding: 15px 18px;
  /* box-shadow: 0 0 5px 0 #ccc; */
}
.adminSidebar .logo h2 {
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: var(--clr-font);
}
.adminSidebar div.links {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.adminSidebar .links a {
  display: block;
  padding: 10px 12px;
  text-transform: capitalize;
  color: var(--clr-font);
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.adminSidebar .links a:hover {
  background-color: var(--clr-active);
  border-radius: 10px;
  color: var(--clr-hover);
}
.adminSidebar .links a.active {
  background-color: var(--clr-active);
  color: var(--clr-font);
  border-radius: 10px;
}
.adminMain {
  flex: 1;
  background: var(--clr-main);
  display: flex;
  flex-direction: column;
}
.adminMain header {
  background-color: var(--clr-bcg);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-container {
  margin-right: 16px;
  display: flex;
  gap: 20px;
}
.header-container .adminImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.adminLink{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    background: var(--login-clr);
    padding: 8px 16px;
    color: white;
    border-radius: 10px;
}
.adminImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-container button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.header-container button i {
  font-size: 20px;
  color: var(--clr-font);
}

.dashboardContainer {
  padding: 20px;
  height: 90vh;
}
.table-content {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
table {
  width: 100%;
  background-color: var(--clr-bcg);
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: auto;
}
th,
td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  color: var(--clr-font);
}
table td.deleteBtn {
  cursor: pointer;
  transition: all 0.2s ease;
}
td.deleteBtn i:hover {
  color: red;
}

.addData {
  width: 100%;
  height: 90vh;
}
.addData-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.adminMainContent {
  width: 100%;
  height: 100%;
}

#dataForm {
  width: 100%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background: var(--clr-bcg);
  padding: 20px;
  box-shadow: 0 0 5px 0 #ccc;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px 25px;
}
.form-group label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--clr-font);
}
.form-group input {
  width: 100%;
  padding: 10px 12px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--clr-bcg);
  color: var(--clr-font);
}
input::placeholder {
  color: var(--clr-font);
}
#dataForm button {
  grid-column: 1/3;
  border: none;
  background: var(--clr-active);
  color: white;
  font-size: 18px;
  padding: 10px 12px;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 10vh;
  background-color: var(--clr-footer);
}
.footer .footer-container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-container p {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--clr-font);
}
.settingRoot {
  height: 90vh;
}
.setting-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.changePassword,
.changeEmail {
  background: var(--clr-bcg);
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 var(--clr-bcg);
}
.changePassword h3,
.changeEmail h3 {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  color: var(--clr-font);
}
.changePasswordForm,
.changeEmailForm {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.changePasswordForm label,
.changeEmailForm label {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--clr-font);
}
.changePasswordForm input,
.changeEmailForm input {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--clr-font);
  background-color: var(--clr-bcg);
  border: 1px solid #ccc;
}
.changePasswordForm button,
.changeEmailForm button {
  padding: 10px 12px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--clr-active);
  color: var(--clr-font);
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .addData {
    height: auto;
  }
  .adminRoot {
    height: auto;
  }
  .adminContent {
    flex-direction: column;
  }
  .dashboardContainer {
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .dashboardContainer table {
    width: 100%;
  }
  .table-content {
    overflow: scroll;
  }

  #dataForm {
    grid-template-columns: 1fr;
  }
  #dataForm button {
    grid-column: 1;
  }
}
@media screen and (max-width: 480px) {
  .adminContainer {
    width: min(100vw, 1170px);
    margin: 0 auto;
    height: 100%;
  }
  .dashboardContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
  cursor: pointer;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: none;
}
.spinner{
      display: block;
      width: 100%;
      height: 100%;
      border: 3px solid #ccc;
      border-top: 3px solid white;
      border-radius: 50%;
      animation: spin 1s linear infinite;
}

@keyframes spin {
        0%{
          transform: rotate(0deg);
        }  
        100%{
          transform: rotate(360deg);
        }
}

.loader-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

.loader{
   width: 100px;
   aspect-ratio: 1/1;
   background:  transparent;
   border-radius: 50%;
   border: 5px solid #ccc;
   border-top: 5px solid #fff;
   animation: spin 1s linear infinite;
}
@keyframes spin {
   0%{
       transform: rotate(0);
   }
   100%{
       transform: rotate(360deg);
   }
}

